body {
  height: 100dvh;
  overflow: hidden;
  background: black;
}

.confirm {
  position: fixed;
  inset: 0;
  background: #000000c2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-pure);
  font-size: 50px;
}

header {
  background: var(--black-pure);
  color: var(--white-pure);
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  font-size: 50px;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    translate: -50% 0;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: calc(100% - 110px);
}
main article:not(.video) {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main article:empty {
  background: var(--white-pure) !important;
}

main article:first-child,
main article:nth-child(2),
main article:nth-child(3),
main article:nth-child(4) {
  background: var(--tbl-green-accent);
  grid-column: span 5;
  grid-row: span 2;

  .service_name {
    font-size: 60px;
    margin-bottom: 25px;
  }
  .now_serving,
  .num_waiting {
    font-size: 30px;
  }
  .queue_id {
    font-size: 100px;
  }
  .num_waiting {
    margin-top: 25px;
  }
}
main article:nth-child(3) {
  grid-column: 1 / 6;
}
main article:nth-child(4) {
  grid-column: 6 / 11;
}

main article:nth-child(n + 5) {
  background: var(--tbl-orange-default);

  .service_name {
    font-size: 27px;
    text-align: center;
  }
  .now_serving,
  .num_waiting {
    font-size: 20px;
  }
  .queue_id {
    font-size: 45px;
  }
  .num_waiting {
    margin-top: 25px;
  }
}
main article:nth-child(5) {
  grid-row: 1;
  grid-column: 11 / 13;
}
main article:nth-child(6) {
  grid-row: 1;
  grid-column: 13 / 15;
}
main article:nth-child(7) {
  grid-row: 1;
  grid-column: 15 / 17;
}
main article:nth-child(8) {
  grid-row: 1;
  grid-column: 17 / 19;
}
main article:nth-child(9) {
  grid-row: 1;
  grid-column: 19 / 21;
}
main article:nth-child(10) {
  grid-row: 2;
  grid-column: 11 / 13;
}
main article:nth-child(11) {
  grid-row: 2;
  grid-column: 13 / 15;
}
main article:nth-child(12) {
  grid-row: 2;
  grid-column: 15 / 17;
}
main article:nth-child(13) {
  grid-row: 2;
  grid-column: 17 / 19;
}
main article:nth-child(14) {
  grid-row: 2;
  grid-column: 19 / 21;
}
.video {
  border: 1px solid black;
  video {
    max-width: 100%;
  }
  /* grid-row: span 2 !important;
  grid-column: span 10 !important; */
  grid-column-start: 11 !important;
  grid-column-end: 21 !important;
  grid-row-start: 3 !important;
  grid-row-end: 5 !important;
}
